<div class="col-md-12">
  <form method="get" class="row g-2 align-items-center">
    <div class="col-auto">
      <label for="smallSelect" class="col-form-label">Sort by</label>
    </div>
    <div class="col-auto">
      <select class="form-control form-control-sm" id="smallSelect" name="sort_by">
        <option value="prog_name" {% if request.GET.sort_by == "prog_name" %}selected{% endif %}>Program Name</option>
<option value="college__college_name" {% if request.GET.sort_by == "college__college_name" %}selected{% endif %}>College</option>

      </select>
    </div>
    <div class="col-auto">
      <button type="submit" class="btn btn-primary btn-sm btn-rounded">Sort</button>
    </div>
  </form>
</div>
